# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
*.pdf
*.mp4
*.mov
*.csv
*.txt
*.xlsx
*.ods
*/
!tests/
*/*
!tests/**
!requirements.txt

# Include resources/images/ directory
!resources/
!resources/images/
!resources/images/**
!images/
!images/**

#Pipenv files
Pipfile
Pipfile.lock

# Executables
*.swf
*.air
*.ipa
*.apk

# py files
tempCodeRunnerFile.py

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
